.button {
  font-size: 0.95rem;
  font-weight: bold;
  padding: 8px 12px;
  background-color: rgb(202, 230, 178);
  outline: none;
  border: none;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(141, 211, 76);
}

.buttonActive {
  background-color: rgb(141, 211, 76);
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 15x;
  }
}
